@import "style";

body {
  background-image: url(cricket1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
@media only screen and (max-width: 600px) {
    body {
        background-image: url(cricket1.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
  }
h1{
    text-align: center;
}
h2{
    text-align: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0 160;
    overflow: hidden;
    font-size:  x-large;
  }
  button{
      align-items: center;
  }
li {
    float: left;
  }
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li a:hover {
    background-color: #111;
    color: white;
  }
div.container{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 1100px;
  }
div p {
    color:black;
  }
#main{
    font-size: large;
    color:maroon;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
.row{
    height:200px;
}